USE [master]
GO
/****** Object:  Database [DBFacturacionM1]    Script Date: 04/05/2015 01:01:56 p.m. ******/
CREATE DATABASE [DBFacturacionM1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBFacturacionM1', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.DESARROLLO\MSSQL\DATA\DBFacturacionM1.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBFacturacionM1_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.DESARROLLO\MSSQL\DATA\DBFacturacionM1_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBFacturacionM1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBFacturacionM1]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 04/05/2015 01:01:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Evento] [varchar](200) NULL,
	[Fecha] [date] NULL,
	[CodBitacora] [int] IDENTITY(1,1) NOT NULL,
	[IDCajero] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodBitacora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cajero]    Script Date: 04/05/2015 01:01:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cajero](
	[IDCajero] [int] IDENTITY(1,1) NOT NULL,
	[NombreAcceso] [varchar](50) NOT NULL,
	[Contrasena] [varchar](20) NOT NULL,
	[Nombre] [varchar](25) NOT NULL,
	[Apellido] [varchar](30) NOT NULL,
	[Telefono] [varchar](15) NOT NULL,
	[Estado] [bit] NOT NULL,
	[IDTipoAcceso] [int] NOT NULL,
 CONSTRAINT [PK__Cajero__B9BE51DC77CA3650] PRIMARY KEY CLUSTERED 
(
	[IDCajero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DetFactura]    Script Date: 04/05/2015 01:01:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DetFactura](
	[Cantidad] [int] NOT NULL,
	[Monto] [money] NOT NULL,
	[Subtotal] [money] NOT NULL,
	[CodDetFactura] [int] IDENTITY(1,1) NOT NULL,
	[IdFactura] [int] NOT NULL,
	[CodProd] [varchar](50) NOT NULL,
 CONSTRAINT [PK__DetFactu__1DD0404F836F0329] PRIMARY KEY CLUSTERED 
(
	[CodDetFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Distribuidor]    Script Date: 04/05/2015 01:01:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Distribuidor](
	[Nombre] [varchar](25) NULL,
	[Estado] [varchar](13) NULL,
	[Telefono] [varchar](15) NULL,
	[CodDistribuidor] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodDistribuidor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 04/05/2015 01:01:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[Fecha] [date] NULL,
	[Total] [money] NULL,
	[IdFactura] [int] IDENTITY(1,1) NOT NULL,
	[IDCajero] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Producto]    Script Date: 04/05/2015 01:01:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Producto](
	[NombreProd] [varchar](100) NULL,
	[CantidadProd] [int] NULL,
	[Precio] [money] NULL,
	[CodDistribuidor] [int] NOT NULL,
	[CodProducto] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Producto__0D06FDF3618A4DA6] PRIMARY KEY CLUSTERED 
(
	[CodProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TipoAcceso]    Script Date: 04/05/2015 01:01:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoAcceso](
	[idTipoAcceso] [int] IDENTITY(1,1) NOT NULL,
	[Rol] [varchar](20) NOT NULL,
 CONSTRAINT [PK_TipoAcceso] PRIMARY KEY CLUSTERED 
(
	[idTipoAcceso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([Evento], [Fecha], [CodBitacora], [IDCajero]) VALUES (N'El cajero Dangelo Rodriguez ha generado una nueva factura por un monto de: 130', CAST(N'2015-04-21' AS Date), 1, 1)
INSERT [dbo].[Bitacora] ([Evento], [Fecha], [CodBitacora], [IDCajero]) VALUES (N'El cajero Dangelo Rodriguez ha generado una nueva factura por un monto de: 2320', CAST(N'2015-04-21' AS Date), 2, 1)
INSERT [dbo].[Bitacora] ([Evento], [Fecha], [CodBitacora], [IDCajero]) VALUES (N'El cajero Dangelo Rodriguez ha generado una nueva factura por un monto de: 3860', CAST(N'2015-04-21' AS Date), 3, 1)
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
SET IDENTITY_INSERT [dbo].[Cajero] ON 

INSERT [dbo].[Cajero] ([IDCajero], [NombreAcceso], [Contrasena], [Nombre], [Apellido], [Telefono], [Estado], [IDTipoAcceso]) VALUES (1, N'DJRM', N'djrm', N'Dangelo', N'Rodriguez Muñoz', N'61610641', 1, 1)
INSERT [dbo].[Cajero] ([IDCajero], [NombreAcceso], [Contrasena], [Nombre], [Apellido], [Telefono], [Estado], [IDTipoAcceso]) VALUES (2, N'Luis', N'luisca', N'Luis', N'Carrillo', N'89654789', 1, 2)
INSERT [dbo].[Cajero] ([IDCajero], [NombreAcceso], [Contrasena], [Nombre], [Apellido], [Telefono], [Estado], [IDTipoAcceso]) VALUES (3, N'maria', N'mari123', N'María', N'Arguedas', N'67648932', 0, 2)
SET IDENTITY_INSERT [dbo].[Cajero] OFF
SET IDENTITY_INSERT [dbo].[DetFactura] ON 

INSERT [dbo].[DetFactura] ([Cantidad], [Monto], [Subtotal], [CodDetFactura], [IdFactura], [CodProd]) VALUES (1, 130.0000, 130.0000, 1, 1, N'086581014193')
INSERT [dbo].[DetFactura] ([Cantidad], [Monto], [Subtotal], [CodDetFactura], [IdFactura], [CodProd]) VALUES (4, 130.0000, 520.0000, 2, 2, N'086581014193')
INSERT [dbo].[DetFactura] ([Cantidad], [Monto], [Subtotal], [CodDetFactura], [IdFactura], [CodProd]) VALUES (1, 1800.0000, 1800.0000, 3, 2, N'123')
SET IDENTITY_INSERT [dbo].[DetFactura] OFF
SET IDENTITY_INSERT [dbo].[Distribuidor] ON 

INSERT [dbo].[Distribuidor] ([Nombre], [Estado], [Telefono], [CodDistribuidor]) VALUES (N'HELADOS SENSACIÓN', N'Activo', N'24542113', 1)
INSERT [dbo].[Distribuidor] ([Nombre], [Estado], [Telefono], [CodDistribuidor]) VALUES (N'COCA-COLA', N'Activo', N'24473016', 2)
INSERT [dbo].[Distribuidor] ([Nombre], [Estado], [Telefono], [CodDistribuidor]) VALUES (N'POZUELO', N'Activo', N'24030263', 3)
SET IDENTITY_INSERT [dbo].[Distribuidor] OFF
SET IDENTITY_INSERT [dbo].[Factura] ON 

INSERT [dbo].[Factura] ([Fecha], [Total], [IdFactura], [IDCajero]) VALUES (CAST(N'2015-04-21' AS Date), 130.0000, 1, 1)
INSERT [dbo].[Factura] ([Fecha], [Total], [IdFactura], [IDCajero]) VALUES (CAST(N'2015-04-21' AS Date), 2320.0000, 2, 1)
INSERT [dbo].[Factura] ([Fecha], [Total], [IdFactura], [IDCajero]) VALUES (CAST(N'2015-04-21' AS Date), 3860.0000, 3, 1)
SET IDENTITY_INSERT [dbo].[Factura] OFF
INSERT [dbo].[Producto] ([NombreProd], [CantidadProd], [Precio], [CodDistribuidor], [CodProducto]) VALUES (N'Sorbeto Festival Naranja unidad', 20, 135.0000, 3, N'086581014193')
INSERT [dbo].[Producto] ([NombreProd], [CantidadProd], [Precio], [CodDistribuidor], [CodProducto]) VALUES (N'Chiky chocolate individual ', 11, 150.0000, 3, N'086581110888')
INSERT [dbo].[Producto] ([NombreProd], [CantidadProd], [Precio], [CodDistribuidor], [CodProducto]) VALUES (N'Merendina Gatico guayaba unidad', 8, 100.0000, 3, N'086581311186')
SET IDENTITY_INSERT [dbo].[TipoAcceso] ON 

INSERT [dbo].[TipoAcceso] ([idTipoAcceso], [Rol]) VALUES (1, N'Administrador')
INSERT [dbo].[TipoAcceso] ([idTipoAcceso], [Rol]) VALUES (2, N'Usuario')
SET IDENTITY_INSERT [dbo].[TipoAcceso] OFF
/****** Object:  StoredProcedure [dbo].[Acceso]    Script Date: 04/05/2015 01:01:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Acceso]
	@Cajero varchar(50)
as
begin
	select c.IDCajero, c.NombreAcceso, c.Contrasena, c.Nombre, 
		   c.Apellido, c.Telefono, c.Estado, c.IDTipoAcceso, case 
		   when t.Rol = 'Administrador' then 1 else 0 end AS Rol 
		from Cajero c inner join TipoAcceso t on 
					c.IDTipoAcceso = t.idTipoAcceso
		where (c.NombreAcceso = @Cajero and c.Estado = 1);
end

GO
/****** Object:  StoredProcedure [dbo].[AgregarBitacora]    Script Date: 04/05/2015 01:01:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[AgregarBitacora]
@CodigoBitac int,@Event varchar(200),@IDCajer int
as
begin try
BEGIN TRAN 
 insert into Bitacora(Evento,IDCajero, Fecha)
 values(@Event,@IDCajer, GetDate())
COMMIT TRAN
END TRY
BEGIN CATCH
  ROLLBACK TRAN
  SELECT @@ERROR 
END CATCH

GO
/****** Object:  StoredProcedure [dbo].[AgregarDistribuidor]    Script Date: 04/05/2015 01:01:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[AgregarDistribuidor]
@CodDistr int,@Nomb varchar(25), @Esta varchar(13),@Telef varchar(15)
as
begin try
BEGIN TRAN 
 insert into Distribuidor(Nombre,Estado,Telefono)
 values(@Nomb, @Esta,@Telef)
COMMIT TRAN
END TRY
BEGIN CATCH
  ROLLBACK TRAN
  SELECT @@ERROR 
END CATCH

GO
/****** Object:  StoredProcedure [dbo].[ReducirStock]    Script Date: 04/05/2015 01:01:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ReducirStock]
	@IdProducto varchar(50),
	@Cantidad int
as
begin try
BEGIN TRAN 
declare @existencias int;
declare @nuevacantidad int;
set @existencias = (select p.CantidadProd from Producto p where p.CodProducto = @IdProducto);
set @nuevacantidad = @existencias - @Cantidad;
update Producto set CantidadProd = @nuevacantidad where CodProducto = @IdProducto;
COMMIT TRAN
END TRY
BEGIN CATCH
  ROLLBACK TRAN
  SELECT @@ERROR 
END CATCH


GO
/****** Object:  StoredProcedure [dbo].[ReporteBitacora]    Script Date: 04/05/2015 01:01:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ReporteBitacora]
@Fecha date
as
begin try
begin tran 
	select CodBitacora as Código_Bitácora, Evento, Fecha as Fecha_Realización, IDCajero 
	from Bitacora where Fecha = @Fecha
commit tran
END TRY
BEGIN CATCH
  ROLLBACK TRAN
  SELECT @@ERROR 
END CATCH

GO
/****** Object:  StoredProcedure [dbo].[SP_Cajero]    Script Date: 04/05/2015 01:01:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Cajero]
	@idCajer int,
	@NombAcce varchar(50),
	@Contrase varchar(20),
	@Nomb varchar(25),
	@Apelli varchar(30),
	@Telef varchar(15),
	@Estado bit,
	@IDTipoAcceso int
as
begin try
begin tran
	insert into Cajero(NombreAcceso, Contrasena, Nombre,Apellido,Telefono, Estado , IDTipoAcceso) values (@NombAcce, @Contrase, @Nomb, @Apelli,@Telef,@Estado, @IDTipoAcceso );
commit tran
end try
begin catch
  ROLLBACK TRAN
  SELECT @@ERROR 
END CATCH

GO
/****** Object:  StoredProcedure [dbo].[SP_ConsultaProducto]    Script Date: 04/05/2015 01:01:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: script.sql|178|0|C:\Users\Dangelo\Documents\script.sql
CREATE procedure [dbo].[SP_ConsultaProducto]
	@Id varchar(50),
	@Accion int
as
begin 
	if @Accion = 1
	begin try
	begin tran
		Select p.CodProducto, p.NombreProd, p.Precio, p.CantidadProd, p.CodDistribuidor 
			from Producto p where p.CodProducto = @Id;
			commit tran
			end try
			begin catch
			rollback tran
			select @@ERROR
			end catch
	else
	begin TRY
	BEGIN TRAN
		Select p.CodProducto, p.NombreProd, p.Precio, p.CantidadProd, d.Nombre as Distribuidor 
			from Producto p inner join Distribuidor d on p.CodDistribuidor = d.CodDistribuidor
	commit tran
			end try
			begin catch
			rollback tran
			select @@ERROR
			end catch
end 

GO
/****** Object:  StoredProcedure [dbo].[SP_Detalle]    Script Date: 04/05/2015 01:01:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Detalle]
	@idFactura int,
	@CodP varchar(50),
	@Cantidad int,
	@Monto money,
	@SubTotal money
as
begin TRY
BEGIN TRAN
	insert into DetFactura (IdFactura, CodProd, Cantidad, Monto, Subtotal) values (@idFactura, @CodP, @Cantidad, @Monto, @SubTotal);
	COMMIT TRAN
end TRY
BEGIN CATCH
ROLLBACK TRAN
SELECT @@ERROR
END CATCH

GO
/****** Object:  StoredProcedure [dbo].[SP_Factura]    Script Date: 04/05/2015 01:01:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Factura]
	@Fecha date,
	@Total money,
	@Cajero int,
	@acc int
as
begin
	if @acc = 1
	begin
		insert into Factura (Fecha, Total, IDCajero) values (@Fecha, @Total, @Cajero);
		return 1;
	end
end


GO
/****** Object:  StoredProcedure [dbo].[SP_ProdMasvendidos]    Script Date: 04/05/2015 01:01:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ProdMasvendidos]
as
begin
Select top 5 d.CodProd as 'Código Producto',p.NombreProd,COUNT(d.CodProd) as 'Cantidad de Ventas'
from DetFactura as d inner join Producto as p on d.CodProd = p.CodProducto
group by d.CodProd,p.NombreProd
order by COUNT(d.CodProd) desc
end

GO
/****** Object:  StoredProcedure [dbo].[SP_Producto]    Script Date: 04/05/2015 01:01:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_Producto]
	@Id varchar(50),
	@Dis int,
	@Precio money,
	@Nombre varchar(60),
	@Cantidad int,
	@Accion int
as
begin
Declare @aux int
declare @aux_2 int
	if @Accion = 1
	begin try
	begin tran
		insert into Producto (CodProducto, CodDistribuidor, Precio, CantidadProd, NombreProd) values (@Id, @Dis, @Precio, 1, @Nombre);
		commit tran
		return 1
	end try
	begin catch
		rollback tran
		select @@error
	end catch
	else
	begin try
	begin tran
		set @aux = (Select p.CantidadProd from Producto p where p.CodProducto = @Id);
		set @aux_2 = @aux + @Cantidad;
		update Producto set NombreProd = @Nombre, CodDistribuidor = @Dis, CantidadProd = @aux_2 ,Precio = @Precio 
		where CodProducto = @Id;
		commit tran
		return 1
	end try
	begin catch
		rollback tran 
		select @@ERROR
	end catch
end
GO
/****** Object:  StoredProcedure [dbo].[SP_ProvedoresMasDistribuyen]    Script Date: 04/05/2015 01:01:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ProvedoresMasDistribuyen]
as
begin
Select top 3 p.CodDistribuidor as 'Proveedor',d.Nombre,d.Telefono,d.Estado,COUNT(p.CodDistribuidor) as 'Cantidad de productos por Proveedor'
from Producto as p inner join Distribuidor as d on p.CodDistribuidor = d.CodDistribuidor
group by p.CodDistribuidor,d.Nombre,d.Estado,d.Telefono 
order by COUNT(p.CodDistribuidor) desc
end

GO
/****** Object:  StoredProcedure [dbo].[SP_ReporteFactura]    Script Date: 04/05/2015 01:01:56 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ReporteFactura]
	-- Add the parameters for the stored procedure here
	@idFactura int
AS
BEGIN try
begin tran
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT dt.CodProd, p.NombreProd, dt.Monto,
		   dt.Cantidad, dt.Subtotal 
	FROM DetFactura dt inner join Producto p on dt.CodProd = p.CodProducto
	WHERE dt.IdFactura = @idFactura;
	commit tran
	end try
	begin catch
	rollback tran
	select @@error
END catch

GO
USE [master]
GO
